<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/editEI" method="post">

        <label for="">Codigo</label>
        <input type="text" name="codigoE" value="<%= empleados.codigoE %>" readonly>
        <label for="">Nombre</label>
        <input type="text" name="nombreE" value="<%= empleados.nombreE %>" readonly>
        <label for="">Apellido</label>
        <input type="text" name="apellidoE" value="<%= empleados.apellidoE %>" readonly>
        <label for="">Fecha De Creacion</label>
        <input type="text" name="fechaC" value="<%= empleados.fechaC %>" readonly>
        <label for="">Sueldo</label>
        <input type="text" name="sueldoE" value="<%= empleados.sueldoE %>" readonly>
        <label for="">Telefono</label>
        <input type="text" name="telefono" value="<%= empleados.telefono %>" readonly>
        <label for="">Idioma</label>
        <input type="text" name="idiomaE" value="<%= empleados.idiomaE %>">
        <button type="submit">Editar Idioma Empleado</button>
    </form>
</body>
</html>