<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Index EJS</title>
</head>
<body>
    <h1>Lista de empleados</h1>

    <a href="/crear">Crear Empleado</a>
    
    <table>
        <!-- Encabezado de la tabla -->
        <thead>
            <tr>
                <td>Codigo</td>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Fecha De Creacion</td>
                <td>Sueldo</td>
                <td>Telefono</td>
                <td>Ver</td>
                <td>Editar</td>
                <td>Eliminar</td>
            </tr>
        </thead>
            <!-- Cuerpo de la tabla donde se listan los clientes -->
            <tbody>
                <% empleados.forEach((listaempleados)=>{ %>
                <tr>
                    <td><%= listaempleados.codigoE %></td>
                    <td><%= listaempleados.nombreE %></td>
                    <td><%= listaempleados.apellidoE %></td>
                    <td><%= listaempleados.fechaC %></td>
                    <td><%= listaempleados.sueldoE %></td>
                    <td><%= listaempleados.telefono %></td>
                    <td><a href="/empleados/ver/<%= listaempleados.codigoE %>">Ver</a></td>
                    <td><a href="/empleados/editar/<%= listaempleados.codigoE %>">Editar</a></td>
                    <td><a href="/empleados/eliminar/<%= listaempleados.codigoE %>">Eliminar</a></td>
                </tr>
               <% })   %>
            </tbody>
    </table>
</body>
</html>